<header class="container">
    <a class="navbar-brand" href="#" >
        <div class="d-flex align-items-center">
            <i class="fas fa-book-open mt-sm-1">
            </i>
            <p class="mt-0 mb-0 ml-2">Biblioteca</p>
        </div>
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'index' %}">Livros</a>
            <a class="nav-link" href="#">Reserva</a>
        </div>
    </div>
</header>